TIME_ZONE=UTC

LOGGER_LEVEL=DEBUG

HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
HTTP_ALLOWED_ORIGINS=http://localhost:5050,null

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
POSTGRES_TIMEOUT=10s

JWT_SECRET=
JWT_ACCESS_TTL=1h
JWT_REFRESH_TTL=168h

S3_ENDPOINT=localhost:9000
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=avatars
S3_PUBLIC_BASE_URL=http://localhost:9000
S3_USE_SSL=false
S3_REGION=us-east-1

MINIO_PORT=9000